@model IEnumerable<Engineers.Models.Order>
@{
    ViewBag.Title = "Список заказов";
}
<a asp-controller="Orders" asp-action="Create">+ Добавить задание</a>    |
<a asp-controller="Orders" asp-action="CreateWithBlueprint">+ Добавить шаблонное задание</a>
<table class="table">
    <tr><th>Картинка</th><th>Название</th><th>Цена</th><th>Пользователь</th></tr>
    @foreach (var order in Model)
    {
        if (order.Images != null)
        {
            <tr>
                <td>
                    <img src="~/@order.Images.Split(';').First()" class="rounded-lg" height="60" width="80" asp-append-version="true" />
                </td>
                <td>@order.Name</td>
                <td>@order.Cost</td>
                @if (order.Owner != null)
                {
                    <td>@order.Owner.UserName</td>
                }
                else
                {
                    <td>Пользователь не определен</td>
                }
                <td>
                    <form asp-action="Delete" asp-route-id="@order.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@order.Id">Изменить</a>
                        <button type="submit" class="btn btn-sm btn-danger">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    <img src="~/@Properties.PathToDefaultOrderImage" class="rounded-lg" height="60" width="80" asp-append-version="true" />
                </td>
                <td>@order.Name</td>
                <td>@order.Cost</td>
                <td>Ошибка загрузки данных</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@order.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
        }
    }
</table>